<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/bf7e05c402.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include("../partials/header.ejs")%>
    <main> 
    <br><br>
      <section id="area-login">      
        <div class="container">
          <div class="col-md-12">
            <h4 id="titulo-pagina">Detalhes do projeto</h4>
          </div>
          <br><br>
          <a href="/project/register" type="button" class="btn btn-secondary" >Cadastrar projeto</a><br><br>
          <table class="table table-striped">
            <thead>
              <tr>
                  <th scope="col">Nome do projeto</th>
                  <th scope="col">Cidade</th>
                  <th scope="col">Estado</th>
                  <th scope="col">valor</th>
                  <th scope="col">status</th>
                  <th scope="col">Data limite</th>
                  <th scope="col">Usuário</th>
                  <th scope="col">Ações</th>
                </tr>
            </thead>
              <tbody class="table-group-divider">
                <tr>
                  <th scope="row">
                    <%= project.title %> 
                  </th>
                  <td id="cidade"> 
                    <%= response.localidade %>
                  </td>
                  <td id="estado">
                    <%= response.uf %>
                  </td>
                  <td>
                    <%= project.cost %>
                  </td>
                  <td>
                    <%= project.deadline %>
                  </td>
                  <td>
                    <%= project.username %>
                  </td>
                  <td>
                    <a href="/project/<%= project.id %>/edit" type="button" class="btn btn-secondary" id="btn-edit" >Editar</a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        </main>
      </section>
    <%- include('../partials/footer') %>
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>