<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.15/dist/sweetalert2.min.css">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/bf7e05c402.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include("../partials/header.ejs")%>
    <section id="area-login">
      <main>
        <br><br>
        <section class="col-md-4 mx-auto m-0">
          <div id="area-cadastrar">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h4 id="titulo-pagina">Editar projeto</h4>
                </div>
                <div id="login-area">
                  <div class="container">
                    <div class="row">
                      <form class="row g-3" action="/project/<%=project.id %>?_method=PUT" method="POST">
                            <div class="col-md-12">
                              <div class="col-md-10">
                                <label for="validationCustom01" class="form-label">Nome do projeto</label>
                                <input type="text" name="title" class="form-control" value="<%= project.title %> " id="validationCustom01" required placeholder="Ex: Projeto SimTech">
                              </div>
                              <div class="col-md-6">
                                <label for="validationDefault05" class="form-label">Cep</label>
                                <input type="text" name="zipe_code" class="form-control"  value="<%= project.zipe_code %> " id="validationDefault05" required>
                              </div>
                              <br>
                              <div class="col-md-10 input-group mb-3" >
                                  <span class="input-group-text">R$</span>
                                  <input type="text" name="cost" class="form-control"  value="<%= project.cost %> " aria-label="Amount (to the nearest dollar)">
                                  <span class="input-group-text">.00</span>
                                </div>
                              <br>
                              <div class="col-md-6">
                                <label for="validationDefault05" class="form-label">Data limite</label>
                                <input type="date" name="deadline" class="form-control"  value="<%= project.deadline %> " id="validationDefault05" required>
                              </div><br>
                            </div>
                            <div class="col-md-10" id="cadastrar-projeto">
                              <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>       
                      </form>
                    </div>
                  </div>
                </div>
              </div>
        </section>
        <br>
      </main>
    </section>
    <%- include('../partials/footer') %>
    <script src="/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.15/dist/sweetalert2.all.min.js"></script>
</body>

</html>